USE [master]
GO
/****** Object:  Database [Double_V]    Script Date: 19/11/2022 07:23:18 p. m. ******/
CREATE DATABASE [Double_V]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Double_V', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Double_V.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Double_V_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Double_V_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Double_V].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Double_V]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 19/11/2022 07:23:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Identificador] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Numero_Identificacion] [varchar](20) NULL,
	[Email] [varchar](250) NULL,
	[Tipo_Identificacion] [varchar](50) NULL,
	[Fecha_Creacion] [date] NULL,
	[Identificacion_Completa] [varchar](80) NULL,
	[Nombres_Completos] [varchar](210) NULL,
PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/11/2022 07:23:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Identificador] [int] IDENTITY(1,1) NOT NULL,
	[ID_Persona] [int] NULL,
	[Usuario] [varchar](250) NULL,
	[Pass] [varchar](250) NULL,
	[Fecha_Creacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([ID_Persona])
REFERENCES [dbo].[Personas] ([Identificador])
GO
/****** Object:  StoredProcedure [dbo].[spGetPersonas]    Script Date: 19/11/2022 07:23:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetPersonas]
AS
	BEGIN TRANSACTION
		BEGIN TRY
			SELECT 
				P.Nombres,
				P.Apellidos,
				P.Tipo_Identificacion,
				P.Numero_Identificacion,
				P.Email,
				P.Fecha_Creacion,
				U.Usuario,
				U.Pass
			FROM Personas AS P
			JOIN Usuarios AS U ON P.Identificador = U.ID_Persona 
		COMMIT TRANSACTION
		END TRY
	BEGIN CATCH
	ROLLBACK TRAN

END CATCH
GO
USE [master]
GO
